---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    For 15+ years in software and web development, I've been involved in gathering user requirements, creating a high-level functional/technical design,
    code implementation, unit testing, compiling, deploying and feature enhancement. My journey has taken me into a path to engage on clients, manage
    their expectations, lead an operations team to keep the applications up and running. And at the same time, streamline the CI/CD pipeline for the development team.
  </div>

  <div class="mb-5">
    <div class="mb-5 text-3xl w-full font-bold">Skills</div>
    <ul class="list-disc md:columns-4 columns-2 mx-6">
          <li>Java</li>
          <li>JavaScript</li>
          <li>Python</li>
          <li>PHP</li>
          <li>Spring Framework</li>
          <li>Hibernate and JPA</li>
          <li>React</li>
          <li>Angular</li>
          <li>Oracle</li>
          <li>MySQL</li>
          <li>Docker + Docker Compose</li>
          <li>VSCode</li>
          <li>IntelliJ</li>
          <li>MacOS</li>
          <li>Ubuntu</li>
        </ul>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="Software Engineer @ Enfuce" subtitle="Jun 2022 to Jun 2023 | Mariehamn, Åland Islands, Finland">
      <div class="mb-5">
          <ul class="list-disc md:columns-1 columns-2 mx-6">
                <li>Maintained and enhanced <em>Java/Spring Boot microservices</em> in <em>AWS</em> cloud, improving it's maintainability and scalability.</li>
                <li>Successfully contributed in migrating a <em>Java/Spring Boot microservice</em> into <em>TypeScript/Node.js</em> in <em>AWS cloud</em></li>
              </ul>
        </div>
    </TimeLineElement>
    <TimeLineElement title="DevOps Engineer @ Paf - Games Sport Casino" subtitle="Aug 2020 to Apr 2022 | Jomala, Åland Islands, Finland">
        <div class="mb-5">
            <ul class="list-disc md:columns-1 columns-2 mx-6">
              <li>Successfully migrated the <em>Jenkins</em> CI/CD pipeline to Github Actions, contributing for the company to be fully cloud-based</li>
              <li>Participated in the release deployment in a rotational basis, improving the work-life balance of the on-call supports.</li>
              <li>Automated a website checker by creating a simple bash script, saving time in manually opening 8 websites at the same time.</li>
              <li>Recognized my proposal in automating the AWS KMS credential provisioning by the Lead DevOps Engineer, resulting in discussion for improvement</li>
            </ul>
        </div>
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineer Manager @ MDI Novare"
      subtitle="Jul 2018 to May 2020 | Taguig, Metro Manila, Philippines"
    >
        <div class="mb-5">
            <ul class="list-disc md:columns-1 columns-2 mx-6">
                <li>Streamlined the AWS CodePipeline, CodeBuild and CodeDeploy to a Java project, improving the team and client's CI/CD</li>
                <li>Managed a team of developers to prioritize and test React for an R&D project, giving client an idea of the pros and cons in their project.</li>
                <li>
                    Spearheaded the development of desk reservation system by creating a MVP with Java, HTML, CSS and JavaScript, helping the company in assigning
                    desk to employees and possibility of selling it to clients.
                </li>
            </ul>
        </div>
    </TimeLineElement>
    <TimeLineElement title="Full-stack Web Developer @ Sterling Technologies" subtitle="Aug 2017 to Jun 2018 | Mandaluyong, Metro Manila, Philippines">
        <div class="mb-5">
            <ul class="list-disc md:columns-1 columns-2 mx-6">
                <li>
                    Contributed to the company's own open-source framework called CradlePHP by implementing key improvements and submitting valuable
                    code contributions to the community.
                </li>
                <li>
                    Exhibited adaptability and determination by rapidly acquiring proficiency in PHP and delivering high-quality code despite having no
                    prior experience with the programming language
                </li>
                <li>
                    Demonstrated a diverse technology stack experience including HTML, CSS, JavaScript, jQuery, Redis, Elasticsearch, Bootstrap, MySQL
                    and Git, enabling seamless integration of various technologies to meet project demands.
                </li>
            </ul>
        </div>
    </TimeLineElement>
    <TimeLineElement title="Lead Software Engineer @ Accenture" subtitle="Jan 2011 to May 2017 | Metro Manila, Philippines">
        <div class="mb-5">
            <ul class="list-disc md:columns-1 columns-2 mx-6">
                <li>
                    Managed client expectations and the operations team (Philippines) during a project in Los Angeles by constant collaboration and communication with the client plus the team, 
                    enhancing team collaboration and achieving project milestones while client's team is enhancing their existing application.
                <li>
                    Automated a manual checking process of mainframe files using simple Java application, reducing human error and
                    Improved client engagement and production operations by managing client expectations on-site while managing operations team from the Philippines
                    improving accuracy, saving valuable time during on-shore deployment in Minnesota.
                </li>
                </li>
                <li>
                    Developed an ESB like service built with Java and Spring Boot to handle data passed by new web applications and integrated it with a client's
                    mainframe database, leading to a successful project completion and high praise from the client in Minnesota.
                </li>
                <li>
                    Recognized for exceptional performance and sent to Minnesota, where I received a well-deserved promotion in 2013,
                    highlighting my adaptability and dedication to achieving outstanding results.
                </li>
                <li>Led developer teams by reviewing code, code enhancing, managing the build and deploy pipeline, resulting in a seamless delivery of codes to production.</li>
            </ul>
        </div>
    </TimeLineElement>
    <TimeLineElement title="Developer @ Integreon Managed Solutions" subtitle="Nov 2009 to Jan 2011 | Makati, Metro Manila, Philippines">
        <div class="mb-5">
            <ul class="list-disc md:columns-1 columns-2 mx-6">
                <li>Maintained and optimize web scraping robots designed and built using a no-code application called Kapow, resulting in data accuracy and efficiency</li>
            </ul>
        </div>
    </TimeLineElement>
    <TimeLineElement title="Full-stack Java Developer @ SSIP" subtitle="Apr 2008 to Nov 2009 | Makati, Metro Manila, Philippines">
        <div class="mb-5">
           <ul class="list-disc md:columns-1 columns-2 mx-6">
               <li>
                   Led the development of the company’s portal using Java, HTML, CSS, JavaScript and web development best practices, resulting
                   in a user-friendly and feature-rich platform that streamlined internal operations.
               </li>
               <li>
                   Implemented robust Acegi security feature for the HR tool of a renowned multinational telecom company
                   based in Finland, ensuring data protection and compliance with industry standards.
               </li>
               <li>
                   Implemented the front-end by modifying the YahooUI library and CSS to meet the specific needs of the client's
                   gift-giving web application, resulting in a highly customized and visually appealing user interface.
               </li>
           </ul>
        </div>
    </TimeLineElement>
    <TimeLineElement title="Full-stack Java Developer @ GSI" subtitle="Feb 2007 to Apr 2008 | Pasig, Metro Manila, Philippines">
        <div class="mb-5">
            <ul class="list-disc md:columns-1 columns-2 mx-6">
                <li>
                    Spearheaded the development of a paperless web application for the company which includes inventory system,
                    leave-request system, under-time request system and library system. Built using Java, JSF, JavaScript, HTML, CSS and DB2,
                    significantly improving workflow efficiency, saving paper and time costs.
                </li>
                <li>
                    Received high recognition from peers and the instructor during the Java Intermediate Bootcamp, highlighting
                    my dedication to continuous learning and technical excellence.
                </li>
                <li>
                    Enhanced a client's web application by enabling remote sites to seamlessly send and receive exam data to and from the main hub
                    using Java and Struts, leading to an improved data accessibility and streamlined data management.
                </li>
            </ul>
        </div>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.freecodecamp.org/certification/hmenorjr/responsive-web-design" target="_blank">Responsive Web Design by FreeCodeCamp (Click here) </a>
    </li>
    <li>
      <a href="https://www.hackerrank.com/certificates/920578337385" target="_blank">Java (Basic) by HackerRank (Click here) </a>
    </li>
  </ul>

   <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Bachelor of Science in Computer Science"
        subtitle="2002 to 2006 at De La Salle University - Dasmariñas | Cavite, Philippines"
      />
      <TimeLineElement
        title="Highschool"
        subtitle="1998 to 2002 at Divine Light Academy | Las Piñas City, Philippines"
      />
    </div>

</BaseLayout>
